.contact-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  color: hsl(30, 100%, 60%);
  margin-bottom: 50px;
}
.contact-heading {
  position: relative;
  font-size: 2.5rem;
  color: hsl(30, 100%, 60%);
}
.contact-heading::after {
  content: "";
  position: absolute;
  margin: 3px;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(30, 100%, 60%);
}
.contact-content {
  width: 60%;
  margin: auto;
  padding: 10px;
}
.contact-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0.7rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.contacts {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.input-grp input {
  height: 3rem;
  width: 25rem;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  opacity: 0.7;
  border: solid black;
}

.input-grp textarea {
  width: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  opacity: 0.7;
  border: solid black;
}
.input-grp label {
  font-size: 1.5rem;
}

button {
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.contact {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.actual-contact {
  padding: 10px;
  font-size: 1.2rem;
  opacity: 0.7;
  cursor: pointer;
}

.actual-contact:hover {
  color: hsl(30, 100%, 60%);
  opacity: 1;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.send-touch {
  margin-right: 5px;
}

.message {
  /* margin-right: 20px; */
  /* padding: 20px; */
  color: red;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 480px) {
  .contact-content {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .contact-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .input-grp input {
    width: 90%;
  }
  .input-grp textarea {
    width: 90%;
  }

  .contacts {
    margin-top: 30px;
  }
  .messages {
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .contact-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .contact {
    font-size: 0.8rem;
    opacity: 0.7;
  }
  .input-grp input {
    width: 95%;
  }
  .input-grp textarea {
    width: 95%;
  }

  form div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
