.hero-section {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.intro {
  padding: 10px;
}

.intro span {
  display: block;
}

.wrap-tech {
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.line {
  width: 100px;
  height: 3px;
  background-color: black;
}

.tech-stack {
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  opacity: 0.8;
}

.intro .primary-font {
  font-size: 4rem;
  padding: 5px;
  margin: 5px;
}

.intro .description {
  font-size: 1.7rem;
  padding: 5px;
  margin: 5px;
  opacity: 0.5;
}

.primary-btn {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: 50px 5px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.touch {
  margin-right: 5px;
}
.images {
  /* width: 300px; */
}

.images img {
  width: 100%;
}

.primary-font {
  color: hsl(30, 100%, 60%);
}

.sticky-icons .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-icons {
  position: fixed;
  left: 70px;
  top: 40vh;
}

.progress-bar {
  background-color: #ff4500;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle-container {
  position: fixed;
  bottom: 50px;
  right: 0px;
}

.circle-canvas {
  cursor: pointer;
  color: hsl(30, 100%, 60%);
}

@media screen and (max-width: 480px) {
  .hero-content {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .sticky-icons {
    position: fixed;
    left: -15px;
    top: 55vh;
  }
  .images {
    display: none;
  }

  .circle-container {
    position: fixed;
    bottom: 180px;
    right: -20px;
  }

  .hero-section {
    width: 90%;
    margin: 100px auto;
  }
  .description {
    text-align: justify;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .about-container {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .images {
    display: none;
  }
  .circle-container {
    position: fixed;
    bottom: 180px;
    right: -25px;
  }
}
