.skills-container {
  width: 60%;
  margin: auto;
  padding: 10px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  margin-bottom: 50px;
}
.skills-heading {
  position: relative;
  color: hsl(30, 100%, 60%);
  font-size: 2.5rem;
}

.skills-heading::after {
  content: "";
  position: absolute;
  margin: 3px;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(30, 100%, 60%);
}

.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.group-name {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 4px; */
}

.secondary-name {
  padding: 4px;
}
.group-name .primary-name {
  margin-left: 2px;
  font-weight: bold;
}
.front-desc {
  font-size: 1.5rem;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.first-group {
  margin: 10px;
  padding: 10px;
  /* border: 1px solid red; */
}

.second-group {
  margin: 10px;
  padding: 10px;
}
.grouping {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.primary-name {
  padding: 5px;
}
.secondary-name {
  opacity: 0.5;
}
.group-name {
  opacity: 0.6;
}

.skills-head {
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .skills-container {
    width: 90%;
    margin: auto;
  }
  .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grouping {
    display: flex;
    flex-direction: column;
    items: center;
  }

  .skills-card h4 {
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1400px) {
  .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grouping {
    display: flex;
    flex-direction: column;
  }

  .first-group {
    margin: 0px;
  }

  .second-group {
    margin: 0px;
  }
}
